@{
    ViewBag.Title = "CompanyAssignmentMaster";
    Layout = "~/_LayoutVendor.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/cr-1.5.4/rr-1.2.8/datatables.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/cr-1.5.4/rr-1.2.8/datatables.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
<style>
    .loader {
        display: none;
        top: 251px;
        position: absolute;
        margin-left: -193px;
        margin-bottom: 117px;
        z-index: 99999;
    }
</style>
@*------------------------------------fill company grou------------------------------------------*@
<script type="text/javascript">
    function CompanyGroup() {
        //  alert();
        var ddlcompanygroup = $("#ddlcompanygroup");
        var ddlupcompanygroup = $("#ddlupcompanygroup");
        ddlcompanygroup.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        ddlupcompanygroup.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Master/CompanyGroupName",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlcompanygroup.empty().append('<option selected="selected" value="0">Select Company group name</option>');
                ddlupcompanygroup.empty().append('<option selected="selected" value="0">Select Company group name</option>');
                $.each(response, function () {
                    ddlcompanygroup.append($("<option></option>").val(this['Value']).html(this['Text']));
                    ddlupcompanygroup.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>
@*------------------------------------fill company-------------------------------------------*@
<script type="text/javascript">
    function CompanyName() {
        var ddlcompany = $("#ddlcompany");
        var ddlupcompany = $("#ddlupcompany");
        ddlcompany.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        ddlupcompany.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Master/CompanyMasterName",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlcompany.empty().append('<option selected="selected" value="0">Select Company name</option>');
                ddlupcompany.empty().append('<option selected="selected" value="0">Select Company name</option>');
                $.each(response, function () {
                    ddlcompany.append($("<option></option>").val(this['Value']).html(this['Text']));
                    ddlupcompany.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>
<script type="text/javascript">
    function CurrencyName() {
        var ddlcurrency = $("#ddlcurrency");
        var ddlgroupcurrency = $("#ddlgroupcurrency");
        ddlcurrency.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        ddlgroupcurrency.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Master/CurrencyName",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlcurrency.empty().append('<option selected="selected" value="0">Select currency name</option>');
                ddlgroupcurrency.empty().append('<option selected="selected" value="0">Select currency name</option>');
                $.each(response, function () {
                    ddlcurrency.append($("<option></option>").val(this['Value']).html(this['Text']));
                    ddlgroupcurrency.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>
<script type="text/javascript">
    function LangaugeName() {
        var ddllanguage = $("#ddllanguage");
        var ddlgrouplanguage = $("#ddlgrouplanguage");
        ddllanguage.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        ddlgrouplanguage.empty().append('<option selected="selected" value="0" disabled="disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Master/LanguageName",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddllanguage.empty().append('<option selected="selected" value="0">Select language name</option>');
                ddlgrouplanguage.empty().append('<option selected="selected" value="0">Select language name</option>');
                $.each(response, function () {
                    ddllanguage.append($("<option></option>").val(this['Value']).html(this['Text']));
                    ddlgrouplanguage.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>
@*------------------------------------reset data-------------------------------------------*@
<script>
    $(document).ready(function () {
        $("#ddlcompanygroup").focus();
        CompanyGroup();
        CompanyName();
        CurrencyName();
        LangaugeName();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/assets/js/jquery.dataTables.min.js";
        document.getElementsByTagName("body")[0].appendChild(script);
    })
</script>

<script>
    function Resetdata1() {
        $("#ddlupcompanygroup").val("0");
        $("#ddlupcompany").val("0");
    }
</script>
<script>
    function Resetdata() {
        $("#ddlcompanygroup").val("0");
        $("#ddlcompany").val("0");

        //$("#btnsave").text("");
        //$("#btnsave").append(" <i class='ace-icon fa fa-floppy-o'></i>Submit");
        $("#hdcompanyassignment").val("");
        $("#ddlcompanygroup").focus();


        var objRolePermission = {};
        objRolePermission.Sub_To_Sub_Menu_Id = sessionStorage.getItem("sid");
        //alert(objRolePermission.Sub_To_Sub_To_Menu_Id);
        $.ajax({
            type: "POST",
            url: "/Master/AddRolePermission",
            data: '{objRolePermission: ' + JSON.stringify(objRolePermission) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //if (response.Is_Add == false) {
                //    $("#btnsave").css('visibility', 'hidden');
                //    $("#btnreset").css('visibility', 'hidden');
                //}
                //if (response.Is_Edit == false) {
                //    $("a.remove").css('visibility', 'hidden');
                //}
                ////alert(response.Is_Delete);
                //if (response.Is_Delete == false) {
                //    $("a.delete").css('visibility', 'hidden');
                //}
                //if (response.Is_View == false) {
                //    $("#EmpInfo_wrapper").css('visibility', 'hidden');
                //}
                //if (response.Is_Approve == false) {
                //    $("a.approve").css('visibility', 'hidden');
                //}
                //$('script[src=~/assets/js/jquery.dataTables.min.js]').remove();
                //$('script[src=/assets/js/jquery.dataTables.min.js]').remove();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        //  alert();
        $("#btnreset").click(function () {
            Resetdata();
        });
        $("#btnresetupdate").click(function () {
            Resetdata1();
        });
    })
</script>
@*------------------------------------get data-------------------------------------------*@
<script>
    var myVar;
    $(document).ready(function () {
        Getdata();
        myVar = setTimeout(Resetdata, 50);
        // Resetdata();
    });
</script>

<script>
    function Getdata() {
        $("#divtbl").append('<table id="EmpInfo" class="table table-bordered  table-hover"><thead><tr><th class="left_c w61_i">S. No</th><th class="left_c">Copmany</th><th class="left_c">Company Group</th><th style="display:none;"></th> <th style="display:none;"></th><th style="display:none;"></th><th class="w155_i">Action</th></tr></thead><tbody></tbody> </table>')
        $("#EmpInfo > tbody").html("");
        //Call EmpDetails jsonResult Method
        // alert();
        $.getJSON("/Master/CompanyAssignmentDetails",
            function (json) {
                var tr;

                //Append each row to html table
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td class='left_c w61_i'>" + (i + 1) + "</td>");
                    tr.append("<td class='left_c'>" + json[i].Company_Name + "</td>");
                    tr.append("<td class='left_c'>" + json[i].Company_Group_Name + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Company_Assignment_Id + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Company_Id + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Company_Group_Id + "</td>");
                    var status = json[i].Approve_Status;
                    var status1 = "";
                    if (status == 1) {
                        status1 = "<i class='menu-icon fa fa-check bigger-120 green'  data-toggle='tooltip' title='Approved'></i>";
                    }
                    else {
                        status1 = "<i class='menu-icon fa fa-clock-o bigger-120 green' data-toggle='tooltip' title='Pending'></i>";
                    }

                    tr.append("<td class='lst_td w155_i'><ul class='list_main'><li><a href='javascript:void(0);' class='approve tooltip-error comn_inline grn' data-rel='tooltip' >" + status1 + "</a></li><li><a href='javascript:void(0);'  id='myAnc' class='remove tooltip-error comn_inline blu' data-rel='tooltip' title='Edit'><i class='ace-icon fa fa-pencil bigger-120 edit_c'></i></a></li><li><a  href='javascript:void(0);' class='delete tooltip-error comn_inline red' data-rel='tooltip' title='Delete'><i class='menu-icon fa fa-trash bigger-120 red'></i></a></li></ul></td>");

                    $('#EmpInfo').append(tr);

                }
                $('#EmpInfo').DataTable();
            });
    }
</script>
@*------------------------------------approve data-------------------------------------------*@
<script>
    $(document).on("click", "a.approve", function (e) {
        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row
        var $id = $row.find('td:eq(3)').text();
        var objCompanyAssignment = {};
        objCompanyAssignment.Company_Assignment_Id = $id;
        $.ajax({
            type: "POST",
            url: "/Master/CompanyAssignmentApproveStatus",
            data: '{objCompanyAssignment: ' + JSON.stringify(objCompanyAssignment) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //$(".dataTables_length").remove();
                //$(".dataTables_filter").remove();
                //$(".dataTables_info").remove();
                //$(".dataTables_paginate").remove();
                $(".dataTables_wrapper").remove();
                swal(response);
                Getdata();
                Resetdata();
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = "/assets/js/jquery.dataTables.min.js";
                document.getElementsByTagName("body")[0].appendChild(script);

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
@*------------------------------------save data-------------------------------------------*@
<script type="text/javascript">
    $(function () {
        $("#btnsave").click(function (e) {
            e.preventDefault();
            var objcompanyassignment = {};
            objcompanyassignment.Company_Group_Id = $("#ddlcompanygroup").val();
            objcompanyassignment.Company_Id = $("#ddlcompany").val();
            objcompanyassignment.Company_Assignment_Id = $("#hdcompanyassignment").val();
            if (objcompanyassignment.Company_Group_Id == "0" || objcompanyassignment.Company_Group_Id == null) {
                swal("Please select company group.");

                $("#ddlcompanygroup").focus();
                return;
            }
            if (objcompanyassignment.Company_Id == "0" || objcompanyassignment.Company_Id == null) {
                swal("Please select company.");

                $("#ddlcompany").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Master/AddCompanyAssignment",
                data: '{objcompanyassignment: ' + JSON.stringify(objcompanyassignment) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //$(".dataTables_length").remove();
                    //$(".dataTables_filter").remove();
                    //$(".dataTables_info").remove();
                    //$(".dataTables_paginate").remove();
                    $(".dataTables_wrapper").remove();
                    swal(response);
                    Getdata();
                    Resetdata();
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    script.src = "/assets/js/jquery.dataTables.min.js";
                    document.getElementsByTagName("body")[0].appendChild(script);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#btnupdateBranchAssignment").click(function (e) {
            e.preventDefault();
            var objcompanyassignment = {};

            objcompanyassignment.Company_Id = $("#ddlupcompany").val();
            objcompanyassignment.Company_Group_Id = $("#ddlupcompanygroup").val();
            objcompanyassignment.Company_Assignment_Id = $("#hdcompanyassignment").val();
            if (objcompanyassignment.Company_Id == 0 || objcompanyassignment.Company_Id == null) {
                swal("Please enter Company Name.");
                return;
                $("#ddlupcompany").focus();

            }
            if (objcompanyassignment.Company_Group_Id == 0 || objcompanyassignment.Company_Group_Id == null) {
                swal("Please enter Group Name");
                $("#ddlupcompanygroup").focus();
                return;
            }


            $.ajax({
                type: "POST",
                url: "/Master/AddCompanyAssignment",
                data: '{objcompanyassignment: ' + JSON.stringify(objcompanyassignment) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $(".dataTables_wrapper").remove();
                    swal(response);
                    Getdata();
                    Resetdata1();
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    script.src = "/assets/js/jquery.dataTables.min.js";
                    document.getElementsByTagName("body")[0].appendChild(script);

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
@*------------------------------------edit data-------------------------------------------*@
<script>
    $(document).on("click", "a.remove", function (e) {
        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row

        var $id = $row.find('td:eq(3)').text();
        var $companyid = $row.find('td:eq(4)').text();
        var $companygroupid = $row.find('td:eq(5)').text();

        $("#dialogdivupdateCompanyAssignment").modal("show");
        $("#ddlupcompanygroup").val($companygroupid);
        $("#ddlupcompany").val($companyid);
        $("#hdcompanyassignment").val($id);
        //$("#btnsave").text("");
        //$("#btnsave").append(" <i class='ace-icon fa fa-floppy-o'></i>Update");
        //$("#btnsave").css('visibility', 'visible');
        //$("#btnreset").css('visibility', 'visible');
    });
</script>

@*------------------------------------delete data-------------------------------------------*@
<script>
    $(document).on("click", "a.delete", function (e) {

        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row
        var $id = $row.find('td:eq(3)').text();

        swal({
            title: 'Are you sure?',
            text: '*You want to delete this data?*',
            icon: 'warning',
            buttons: ["Cancel", "Yes!"],
        }).then(function (value) {
            if (value) {
                var objcompanyassignment = {};
                objcompanyassignment.Company_Assignment_Id = $id;
                $.ajax({
                    type: "POST",
                    url: "/Master/DeleteCompanyAssignment",
                    data: '{objcompanyassignment: ' + JSON.stringify(objcompanyassignment) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //$(".dataTables_length").remove();
                        //$(".dataTables_filter").remove();
                        //$(".dataTables_info").remove();
                        //$(".dataTables_paginate").remove();
                        $(".dataTables_wrapper").remove();
                        swal(response);
                        Getdata();
                        Resetdata();
                        var script = document.createElement("script");
                        script.type = "text/javascript";
                        script.src = "/assets/js/jquery.dataTables.min.js";
                        document.getElementsByTagName("body")[0].appendChild(script);

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            else {
                swal("*Your data is safe*");
            }
        });

    });
</script>
<script type="text/javascript">
    $(function () {
        $("#btnsaveCompany").click(function (e) {
            e.preventDefault();
            var objcompanymaster = {};
            objcompanymaster.Company_Code = $("#txtcompanycode").val().toUpperCase();
            objcompanymaster.Company_Name = $("#txtcompanyname").val().charAt(0).toUpperCase() + $("#txtcompanyname").val().slice(1);
            objcompanymaster.Currency_Id = $("#ddlcurrency").val();
            objcompanymaster.Language_Id = $("#ddllanguage").val();
            objcompanymaster.Company_Image = $("#hdprofileimg").val();
            objcompanymaster.Company_Id = $("#hdcompanymaster").val();
            if (objcompanymaster.Company_Code == "" || objcompanymaster.Company_Code == null) {
                swal("Please enter company code.");

                $("#txtcompanycode").focus();
                return;
            }
            if (objcompanymaster.Company_Name == "" || objcompanymaster.Company_Name == null) {
                swal("Please select company name.");

                $("#txtcompanyname").focus();
                return;
            }
            if (objcompanymaster.Currency_Id == "0" || objcompanymaster.Currency_Id == null) {
                swal("Please select currency.");

                $("#ddlcurrency").focus();
                return;
            }
            if (objcompanymaster.Language_Id == "" || objcompanymaster.Language_Id == null) {
                swal("Please select language.");

                $("#ddllanguage").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Master/AddCompanyMaster",
                data: '{objcompanymaster: ' + JSON.stringify(objcompanymaster) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    swal(response);
                    CompanyName();
                    ResetCompany();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#btnsavegroup").click(function (e) {
            e.preventDefault();
            var objcompanygroup = {};
            objcompanygroup.Company_Group_Code = $("#txtcompanygroupcode").val().toUpperCase();
            objcompanygroup.Company_Group_Name = $("#txtcompanygroupname").val().charAt(0).toUpperCase() + $("#txtcompanygroupname").val().slice(1);
            objcompanygroup.Currency_Id = $("#ddlgroupcurrency").val();
            objcompanygroup.Language_Id = $("#ddlgrouplanguage").val();
            objcompanygroup.Company_Image = $("#hdcompanygroupimg").val();
            // alert(objcompanygroup.Company_Image)
            objcompanygroup.Company_Group_Id = $("#hdcompanygroup").val();
            // alert(objcompanygroup.Company_Group_Id)
            if (objcompanygroup.Company_Group_Code == "" || objcompanygroup.Company_Group_Code == null) {
                swal("Please enter company group code.");

                $("#txtcompanygroupcode").focus();
                return;
            }
            if (objcompanygroup.Company_Group_Name == "" || objcompanygroup.Company_Group_Name == null) {
                swal("Please select company group name.");

                $("#txtcompanygroupname").focus();
                return;
            }
            if (objcompanygroup.Currency_Id == "0" || objcompanygroup.Currency_Id == null) {
                swal("Please select currency.");

                $("#ddlgroupcurrency").focus();
                return;
            }
            if (objcompanygroup.Language_Id == "" || objcompanygroup.Language_Id == null) {
                swal("Please select company language.");

                $("#ddlgrouplanguage").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Master/AddCompanyGroup",
                data: '{objcompanygroup: ' + JSON.stringify(objcompanygroup) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    swal(response);
                    CompanyGroup();
                    ResetCompanyGroup();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<script>
    function ResetCompanyGroup() {
        $("#ddlgroupcurrency").val(0);
        $("#ddlgrouplanguage").val(0);

        $("#txtcompanygroupcode").val("");
        $("#txtcompanygroupname").val("");

    }
    function ResetCompany() {
        $("#ddlcurrency").val(0);
        $("#ddllanguage").val(0);
        $("#txtcompanycode").val("");
        $("#txtcompanyname").val("");

    }

</script>
<script>
    $(document).ready(function () {
        $("#btnresetCompany").click(function (e) {
            ResetCompany();
        });
        $("#btnresetgroup").click(function (e) {
            ResetCompanyGroup();
        });
    });
</script>
<script>
    $(document).on("click", "a.clddlcompany", function () {
        $('#dialogdivCompany').modal('show');
    });
    $(document).on("click", "a.clddlcompanygroup", function () {
        $('#dialogdivCompanyGroup').modal('show');
    });
</script>
@*------------------------------------------------------------------------------upload excel file-----------------------------------------*@
<script>
    $(function () {
        $("#btnexcel").click(function () {
            $('#dialogdivexcel').modal('show');
        });
    });
</script>
<script type="text/javascript">
    $("body").on("click", "#uploadExcel", function () {
        Resettable();
        //Reference the FileUpload element.
        var fileUpload = $("#fileUpload")[0];

        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();

                //For Browsers other than IE.
                if (reader.readAsBinaryString) {
                    reader.onload = function (e) {
                        ProcessExcel(e.target.result);
                    };
                    reader.readAsBinaryString(fileUpload.files[0]);
                } else {
                    //For IE Browser.
                    reader.onload = function (e) {
                        var data = "";
                        var bytes = new Uint8Array(e.target.result);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            data += String.fromCharCode(bytes[i]);
                        }
                        ProcessExcel(data);
                    };
                    reader.readAsArrayBuffer(fileUpload.files[0]);
                }
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid Excel file.");
        }
    });
    function ProcessExcel(data) {
        $('#ExcelDataLoader').show();
        var workbook = XLSX.read(data, {
            type: 'binary'
        });
        //alert();
        var firstSheet = workbook.SheetNames[0];
        var excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
        // $("#dvExcel").empty();
        $("#dvExcel").append('<table id="EmpInfocompanyassigment" class="table table-bordered table-hover"><thead><tr><th class="left_c w61_i">S. No</th> <th class="left_c">Company Name</th> <th class="left_c">Company Group Name</th><th class="w155_i">Action</th> </tr></thead><tbody></tbody> </table>');
        $("#EmpInfocompanyassigment > tbody").html("");
        var count = excelRows.length;
        for (var i = 0; i < excelRows.length; i++) {
            var Company_Name = "";
            var Company_Group_Name = "";


            if (excelRows[i].CompanyName == undefined) {

                Company_Name = "";
            }
            else {
                Company_Name = excelRows[i].CompanyName;

            }

            if (excelRows[i].CompanyGroupName == undefined) {

                Company_Group_Name = "";
            }
            else {
                Company_Group_Name = excelRows[i].CompanyGroupName;

            }

            tr = $('<tr/>');
            tr.append("<td class='left_c w61_i'>" + (i + 1) + "</td>");
            tr.append("<td class='left_c'>" + Company_Name + "</td>");
            tr.append("<td class='left_c'>" + Company_Group_Name + "</td>");


            tr.append("<td class='lst_td w155_i'><ul class='list_main'><li><a  href='javascript:void(0);' class='deletecompanyassigment tooltip-error comn_inline red' data-rel='tooltip'><i class='menu-icon fa fa-trash bigger-120 red'></i></a></li></ul></td>");

            $('#EmpInfocompanyassigment').append(tr);
        }
        $('#EmpInfocompanyassigment').DataTable();
        $('#EmpInfocompanyassigment').dataTable({
            destroy: true,
            "infoCallback": function (settings, start, end, max, total, pre) {
                return "Showing 1 to " + count + " entries";
            }
        });
        sessionStorage.setItem("item-count8", count);
        $('#ExcelDataLoader').hide();
    };
</script>
<script>
    $(document).on("click", "a.deletecompanyassigment", function () {

        var $row = $(this).closest("tr");    // Find the row
        var $id = $row.find('td:eq(0)').text();
        // $row.hide();
        //$row.remove();
        $row.remove().draw(false);
        var oTable = $('#EmpInfocompanyassigment').dataTable();

        var rowcollection = oTable.$("tr", { "page": "all" });

        var count = sessionStorage.getItem("item-count8");

        sessionStorage.setItem("item-count8", (count - 1));

        var count1 = count - 1;

        var table = $('#EmpInfocompanyassigment').DataTable({
            destroy: true,
            rowReorder: true
        });
        table.on('row-reorder', function (e, diff, edit) {
            var res = '';
            for (var i = 0, ien = diff.length ; i < ien ; i++) {
                res += diff[i].newData + '=';
            }
            res = res.substring(0, res.length - 1);
            getVal(res);
        });
        $('#EmpInfocompanyassigment').dataTable({
            destroy: true,
            "infoCallback": function (settings, start, end, max, total, pre) {
                return "Showing 1 to " + count1 + " entries";
            }
        });
        if (count <= 1) {
            Resettable();
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#btnsaveuploaddb").click(function () {
            $('#ExcelDataLoader').show();
            var objcompanyassignment = {};
            objcompanyassignment.Company_Group_Name = "";
            objcompanyassignment.Company_Name = "";
            objcompanyassignment.Company_Assignment_Id = 0;
            var oTable = $('#EmpInfocompanyassigment').dataTable();
            var rowcollection = oTable.$("tr", { "page": "all" });

            rowcollection.each(function (index, elem) {
                var row = $(elem).closest("tr");
                if (objcompanyassignment.Company_Name == "") {
                    objcompanyassignment.Company_Name = row.find('td:eq(1)').text().charAt(0).toUpperCase() + row.find('td:eq(1)').text().slice(1);
                    objcompanyassignment.Company_Group_Name = row.find('td:eq(2)').text().charAt(0).toUpperCase() + row.find('td:eq(2)').text().slice(1);
                    //alert();
                }
                else {
                    objcompanyassignment.Company_Name = objcompanyassignment.Company_Name + "," + row.find('td:eq(1)').text().charAt(0).toUpperCase() + row.find('td:eq(1)').text().slice(1);
                    objcompanyassignment.Company_Group_Name = objcompanyassignment.Company_Group_Name + "," + row.find('td:eq(2)').text().charAt(0).toUpperCase() + row.find('td:eq(2)').text().slice(1);;

                }
            });

            var rowCount = $('#EmpInfocompanyassigment tr').length;
            if (rowCount <= 1) {
                swal("please upload excel file for data upload.");
                return;
            }
            if (rowCount > 1 && objcompanyassignment.Company_Name == "") {
                swal("no data in table.");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Master/AddBulkCompanyAssignment",
                data: '{objcompanyassignment: ' + JSON.stringify(objcompanyassignment) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $(".dataTables_wrapper").remove();
                    swal(response);
                    Getdata();
                    CompanyGroup();
                    CompanyName();
                    Resettable();
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    script.src = "/assets/js/jquery.dataTables.min.js";
                    document.getElementsByTagName("body")[0].appendChild(script);
                    $('#ExcelDataLoader').hide();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $("#btnresetcompanyassignment").click(function () {
            Resettable();
        });
        $('#fileUpload').change(function (e) {

            var file = e.target.files[0].name;
            $(this).next('span').text(file);
        });
    });
</script>
<script>
    function Resettable() {
        $("#dvExcel").empty();
        $('#spnfile').text("");
        $('#spnfile').append('<span class="ace-file-name" id="spnfile1" data-title="No File ..."><i class=" ace-icon fa fa-upload"></i></span>')
    }
</script>
<style>
    .clddl_plus {
        float: right;
        left: 5px;
        position: absolute !important;
        top: 9px;
        font-size: 13px;
    }
</style>
<script type="text/javascript">
    try { ace.settings.loadState('main-container') } catch (e) { }
</script>
<div id="sidebar" class="sidebar responsive ace-save-state top-padding">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->
    @{ Html.RenderAction("SideMenu", "Master");}

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
<div class="main-content">
    <div class="main-content-inner top-padding">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs" style=" z-index: -1 !IMPORTANT;">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">PMS Setting</a>
                </li>

                <li>
                    <a href="#">Administration Setting</a>
                </li>
                <li class="active">Company Assignment</li>
            </ul><!-- /.breadcrumb -->
            @*<div class="nav-search" id="nav-search">
                <div class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>*@<!-- /.nav-search -->
        </div>
        @*-----------------------------------------------------master-------------------------------------------------------*@
        <div class="modal fade" id="dialogdivCompany">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">×</a>
                        <h3 class="item_hedin">Add Company </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">Company Code <span style="color:red;font-size:14px;">*</span><span>:</span></div>
                            <div class="col-md-9">
                                <input type="text" id="txtcompanycode" style="text-transform:uppercase" placeholder="Company Code" class="col-xs-10 col-sm-9" data-toggle="tooltip" title="Field for company code" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Company Name <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <input type="text" id="txtcompanyname" style="text-transform:capitalize" placeholder="Company Name" class="col-xs-10 col-sm-9" data-toggle="tooltip" title="Field for company name" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Currency <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <select class="col-xs-10 col-sm-9" id="ddlcurrency" data-toggle="tooltip" title="Select currency">
                                    <option>-Select Currency-</option>


                                </select>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Language <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <select class="col-xs-10 col-sm-9" id="ddllanguage" data-toggle="tooltip" title="Select language name">
                                    <option>-Select language-</option>

                                </select>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button class="btn btn-info" id="btnsaveCompany" type="button" data-toggle="tooltip" title="Button for save data">
                                    <i class="ace-icon fa fa-floppy-o"></i>
                                    Submit
                                </button>
                                <button class="btn master-page-reset" id="btnresetCompany" type="reset" data-toggle="tooltip" title="Button for reset data">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialogdivCompanyGroup">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">×</a>
                        <h3 class="item_hedin">Add Company Group </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">Company Group Code <span style="color:red;font-size:14px;">*</span><span>:</span></div>
                            <div class="col-md-9">
                                <input type="text" id="txtcompanygroupcode" style="text-transform:uppercase" placeholder="Company Group Code" class="col-xs-10 col-sm-9" data-toggle="tooltip" title="Field for company group code" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Company Group Name <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <input type="text" id="txtcompanygroupname" style="text-transform:capitalize" placeholder="Company Group Name" class="col-xs-10 col-sm-9" data-toggle="tooltip" title="Field for company group name" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Currency <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <select class="col-xs-10 col-sm-9" id="ddlgroupcurrency" data-toggle="tooltip" title="Select currency">
                                    <option>-Select Currency-</option>


                                </select>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3">Language <span style="color:red;font-size:14px;">*</span><span> : </span></div>
                            <div class="col-md-9">
                                <select class="col-xs-10 col-sm-9" id="ddlgrouplanguage" data-toggle="tooltip" title="Select language name">
                                    <option>-Select language-</option>

                                </select>
                            </div>
                        </div>

                        <div class="space-4"></div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button class="btn btn-info" id="btnsavegroup" type="button" data-toggle="tooltip" title="Button for save data">
                                    <i class="ace-icon fa fa-floppy-o"></i>
                                    Submit
                                </button>
                                <button class="btn master-page-reset" id="btnresetgroup" type="reset" data-toggle="tooltip" title="Button for reset data">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*-------------------------------------------------------------------------------------------------------------*@
        <div class="page-content1">

            @*--------------------------------------------------------update Company Assignment-------------------------------------------------------*@
            <div class="modal fade" id="dialogdivupdateCompanyAssignment">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">×</a>
                            <h3 class="item_hedin">Update Company Assignment</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3">Company <span style="color:red;font-size:14px;">*</span><span>:</span></div>
                                <div class="col-md-9">

                                    <select class="col-xs-10 col-sm-8" id="ddlupcompany" data-toggle="tooltip" title="Select Company">
                                        <option>-Select Company-</option>

                                    </select>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Company Group <span style="color:red;font-size:14px;">*</span><span>:</span></div>
                                <div class="col-md-9">

                                    <select class="col-xs-10 col-sm-8" id="ddlupcompanygroup" data-toggle="tooltip" title="Select Company Group Name">
                                        <option>-Select Company Group Name-</option>

                                    </select>


                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <button class="btn btn-info" id="btnupdateBranchAssignment" type="button" data-toggle="tooltip" title="Button for update data">
                                        <i class="ace-icon fa fa-floppy-o"></i>
                                        Update
                                    </button>
                                    <button class="btn master-page-reset" id="btnresetupdate" type="reset" data-toggle="tooltip" title="Button for reset data">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h3 class="item_hedin">
                    Company Assignment
                </h3>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-6">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Company <span style="color:red;font-size:14px;">*</span></label>

                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-8" id="ddlcompany" data-toggle="tooltip" title="Select company">
                                <option>-Select Company-</option>
                                @*<option>  Kalatmak Spatial Systems(100)</option>*@


                            </select><sup style=" top: .5em; left: .5em;"><a class="clddlcompany clddl_plus" data-toggle='tooltip' title='Add new company'><i class="fa fa-plus"></i></a></sup>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Company Group <span style="color:red;font-size:14px;">*</span></label>

                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-8" id="ddlcompanygroup" data-toggle="tooltip" title="Select company group">
                                <option>-Select Company Group-</option>

                            </select><sup style=" top: .5em; left: .5em;"><a class="clddlcompanygroup clddl_plus" data-toggle='tooltip' title='Add new company group'><i class="fa fa-plus"></i></a></sup>

                        </div>
                    </div>
                </div>

            </div>

            @*----------------------------------------------------popup for upload master data--------------------------------------------------------------*@
            <div id="dialogdivexcel" class="modal fade" style="margin-top:0px!important;overflow:auto!important">
                <div class="modal-dialog modal-lg modal-dialog-centered " style=" display: flex !important; width: 1007px !important;margin-top:0px!important;}">
                    <div class="modal-content" style="width:100% !important;padding-bottom:22px">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">×</a>
                            <h3 class="item_hedin">Upload Excel File </h3>
                        </div>
                        <div class="modal-body">

                            <div class="row">

                                <div class="col-md-3">Choose excel file <span style="color:red;font-size:14px;">*</span><span>:</span></div>
                                <div class="col-sm-9">
                                    <div class="col-xs-8 pr-0">

                                        <label class="ace-file-input upload_fl1"><input type="file" id="fileUpload" accept=".xls,.xlsx"><span class="ace-file-container upload_fl" id="spnfile" data-title="Choose"><span class="ace-file-name" id="spnfile1" data-title="No File ..."><i class=" ace-icon fa fa-upload"></i></span></span><a class="remove" href="#"><i class=" ace-icon fa fa-times"></i></a></label>
                                    </div>
                                    <div class="col-xs-4">
                                        <i class="ace-icon fa fa-cloud-upload upload-ic"></i>
                                        <input type="button" id="uploadExcel" class="btn btn-info upload-bt" value="Upload" onclick="ExportToTable()" />
                                        <div id="ExcelDataLoader" class="loader">
                                            <img src="~/Images/1.gif" height="70" width="60" />
                                        </div>

                                    </div>


                                </div>
                                <div class="space-6"></div>
                                <div class="row" style="padding-top:45px">
                                    <div class="col-xs-12">
                                        <div class="form-horizontal">
                                            <div id="dvExcel"></div>

                                        </div>

                                    </div><!-- /.span -->
                                </div><!-- /.row -->
                            </div>

                            <div class="space-4"></div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <button class="btn btn-info" id="btnsaveuploaddb" type="button" data-toggle="tooltip" title="Button for save data">
                                        <i class="ace-icon fa fa-floppy-o"></i>
                                        Submit
                                    </button>
                                    <button class="btn master-page-reset" id="btnresetcompanyassignment" type="reset" data-toggle="tooltip" title="Button for reset data">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*---------------------------------------------------------------------------------------------------------------------------------------*@



            <div class="space-4"></div>

            <div class="row">
                <div class="col-xs-12">
                    <input type="hidden" id="hdcompanyassignment" />
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-0 col-md-12">
                            <a href="~/excelFile/companyassignmentmaster.xlsx">Download Template</a>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-info" id="btnexcel" type="button" data-toggle="tooltip" style="width: auto;" title="Button for excel data">
                                <i class="ace-icon fa fa-floppy-o"></i>
                                Upload Excel File
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-info" type="button" id="btnsave" data-toggle="tooltip" title="Button for save data">
                                <i class="ace-icon fa fa-floppy-o"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset" id="btnreset" data-toggle="tooltip" title="Button for reset data">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="table-header">
                            Current Record
                        </div>
                        <div id="divtbl"></div>


                    </div>

                </div><!-- /.span -->
            </div><!-- /.row -->

        </div>
    </div>
</div>
@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/cr-1.5.4/rr-1.2.8/datatables.min.js"></script>
@*<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/cr-1.5.4/rr-1.2.8/datatables.min.js"></script>*@
<link href="~/assets/css/colReorder.dataTables.css" rel="stylesheet" />
<link href="~/assets/css/responsive.dataTables.css" rel="stylesheet" />
<script src="~/assets/js/dataTables.colReorder.js"></script>
<script src="~/assets/js/dataTables.responsive.js"></script>

<link href="~/assets/css/rowReorder.dataTables.min.css" rel="stylesheet" />


<script>

    $(document).ready(function () {
        // GetData1();
        //$('#pending_from').dataTable({
        //    colReorder: {
        //        order: [4, 3, 2, 1, 0, ]
        //    }
        //});
        $('#EmpInfo').dataTable({
            colReorder: {
                order: [0, 1, 2, 3, 4]
            }
        });
    });



</script>