@{
    ViewBag.Title = "ListingItem";
    Layout = "~/_LayoutVendor.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
@*<link rel="stylesheet" href="~/assets/css/modalpop.css">*@
<link href="~/assets/css/searchbox.css" rel="stylesheet" />

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap.min.js"></script>
<style>
    .des_cl {
        width: 40% !important;
    }
</style>
<style>
    .img_duplicate {
        width: 18px;
    }
             .nav > li > a {
    padding: 1px 15px;
}
     .navbar-default .navbar-brand {
    color: #fff !important;
}
</style>
<style type="text/css" style="display: none !important;">
    /*    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }*/

    #SlideshowImages {
        margin: 0px auto !important;
        width: 100% !important;
        height: auto !important;
        padding: 0px !important;
        box-shadow: none !important;
        margin-bottom: 191px !important;
    }

        #SlideshowImages img {
            width: 100%;
            height: 219px !important;
        }

    .tz-gallery img:hover {
        cursor: crosshair;
    }

    #SlideshowImages .item {
        display: none !important;
    }

    #SlideshowImages .active {
        display: block !important;
    }
</style>
<style>
    * {
        box-sizing: border-box;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: none;
        width: 75px;
        height: 75px;
    }

    .img-less-lens {
        position: absolute;
        width: 0px;
        height: 0px;
    }

    .myimage {
        margin-top: 2px;
        position: absolute;
        z-index: -1;
    }



    .img-zoom-result {
        width: 631px;
        height: 391px;
        display: inline-block;
        left: 318px;
        position: absolute;
        cursor: crosshair;
    }

    .myimage:hover .img-zoom-result {
        display: inline-block;
    }

    .img-zoom-lens:hover .img-zoom-result {
        display: inline-block;
    }

    .img-zoomout-lens:hover .img-zoom-result {
        display: none;
    }
    /*  .img-zoom-result{
    display: none;
    } */
    /* .myimage:hover .img-zoom-result{
    display: block;
    } */
    /* .img-zoom-lens:hover .img-zoom-result{
    display: inline-block;
    } */
</style>
<style type="text/css" style="display: none !important;">
    /*    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }*/

    #SlideshowImages {
        margin: 0px auto !important;
        width: 100% !important;
        height: auto !important;
        padding: 0px !important;
        box-shadow: none !important;
        margin-bottom: 13px !important;
    }

        #SlideshowImages img {
            width: 100%;
            height: 219px !important;
        }

    .tz-gallery img:hover {
        cursor: crosshair;
    }

    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 3em;
        background: none;
        overflow: auto;
    }



    .img-zoom-result {
        width: 607px;
        height: 360px;
        display: inline-block;
        left: 314px;
        position: absolute;
        cursor: pointer;
        border: 1px solid #ccc;
        margin-top: -8px;
        margin-bottom: 8px;
        padding-bottom: 29px;
    }
</style>


<style>
    .tz-gallery img {
        width: 100%;
        border-radius: 0px;
    }

    .carousel-default a {
        color: #f5f5f5 !important;
        text-decoration: underline;
    }

    button {
        background-color: #0000 !important;
        color: #ffffff !important;
    }

    .full-image {
        padding: 50px;
    }

    #dialogdiv {
        overflow: hidden;
    }
</style>
<style>
    .img_box img {
        max-width: 100%;
    }

    #SlideshowImages .item {
        display: none !important;
    }

    #SlideshowImages .active {
        display: block !important;
    }

    .sear_sub {
        padding: 5px !important;
        border-radius: 0px 0px 0px 0px !important;
        box-shadow: 0 .3rem 0.8rem rgba(0,0,0,.15) !important;
        margin-bottom: 15px !IMPORTANT;
        border: 1px solid #afafaf !important;
        border-radius: 0px !IMPORTANT;
    }

        .sear_sub h3 {
            padding: 0px;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 3px;
        }

        .sear_sub p {
            padding: 0px;
            font-size: 13px;
        }



    .copy_btn:hover {
        background: #001232 !important;
        border-color: #001232 !important;
    }

    .searc_box {
        width: 600px;
        height: 47px;
        border-radius: 5px !important;
        font-size: 17px !important;
        display: block;
        margin: auto;
        margin-bottom: 35px;
    }
    /* #txtsearch {
        width: 600px;
    }*/
    .item_search_box {
        padding: 0px 40px;
    }

    .copy_btn {
        background: #0893e2 !important;
        border-color: #0893e2 !important;
        padding: 4px 7px;
        font-size: 10px;
        border-radius: 0px !important;
        margin-bottom: 3px;
        cursor: pointer;
        padding: 0px 3px 0px 12px !important;
        width: auto;
        font-weight: 500;
        margin-right: 4px;
    }

        .copy_btn:focus {
            width: auto;
        }

    .view_dc {
        width: 80px !important;
        padding-left: 15px !important;
    }

    .ey_icon {
        padding-left: 4px;
        position: absolute;
        z-index: 1;
        color: #fff;
        font-size: 10px;
        top: 9px;
    }

    .copy_ic {
        padding-left: 3px;
        position: absolute;
        z-index: 2;
        color: #fff;
        font-size: 9px;
        top: 8px;
    }

    .botm_fxa1 {
        background: #eff3f8;
        padding: 11px 0px !important;
        bottom: 0px;
        position: fixed;
        width: 81% !important;
    }

    .btn-default.focus:hover, .btn-default:active:hover, .btn-default:focus:active, .btn-default:focus:hover, .btn-default:hover, .btn.focus:hover, .btn:active:hover, .btn:focus:active, .btn:focus:hover, .btn:hover, .open > .btn-default.dropdown-toggle, .open > .btn-default.dropdown-toggle.focus, .open > .btn-default.dropdown-toggle:active, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle.focus, .open > .btn.dropdown-toggle:active, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover {
        background-color: #0893e2 !important;
        border-color: #0893e2 !important;
    }

    .img_box img {
        height: auto !important;
        margin-top: 0px;
        height: 49px !important;
        width: 49px !important;
    }
    /* .copy_btn {
        margin-right: 2px;
    }*/


    .view_dc {
        margin-left: -2px;
    }

    .sear_sub:hover {
        transform: scale(1.1);
    }


    .sear_sub {
        transition: 0.9s;
    }

    .btn-primary, .btn-primary.focus, .btn-primary:focus {
        outline: none;
    }

    #EmpInfoalt {
        border-bottom: none !important;
        padding-bottom: 0px !important;
    }

    #EmpInfoalt_wrapper {
        padding: 21px 0px;
        background: none;
        padding-bottom: 0px !important;
    }

    #parameter {
        height: auto !important;
    }

    @@media screen and (min-width: 768px) {
        .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
            left: -256px !important;
        }
    }
</style>
<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 0px auto !important;
        width: 100% !important;
        height: auto !important;
        padding: 0px !important;
        box-shadow: none !important;
        margin-bottom: 191px !important;
    }

        #SlideshowImages img {
            width: 100%;
            height: 219px !important;
        }

    .tz-gallery img:hover {
        cursor: crosshair;
    }
</style>
<style>
    * {
        box-sizing: border-box;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: none;
        width: 75px;
        height: 75px;
    }

    .img-less-lens {
        position: absolute;
        width: 0px;
        height: 0px;
    }

    .myimage {
        margin-top: 2px;
        position: absolute;
        z-index: -1;
    }



    .img-zoom-result {
        width: 631px;
        height: 391px;
        display: inline-block;
        left: 318px;
        position: absolute;
        cursor: crosshair;
    }

    .myimage:hover .img-zoom-result {
        display: inline-block;
    }

    .img-zoom-lens:hover .img-zoom-result {
        display: inline-block;
    }

    .img-zoomout-lens:hover .img-zoom-result {
        display: none;
    }

    .modal-content {
        max-width: 100% !important;
    }

    .des_cl {
        width: 27% !important;
    }
    /*  .img-zoom-result{
    display: none;
    } */
    /* .myimage:hover .img-zoom-result{
    display: block;
    } */
    /* .img-zoom-lens:hover .img-zoom-result{
    display: inline-block;
    } */
    .img-zoom-result {
        padding-bottom: 29px;
    }

    .img-zoom-result {
        width: 631px;
        height: 261px !IMPORTANT;
    }

    #SlideshowImages {
        margin-bottom: 25px !important;
    }

    .m_00 {
        margin-bottom: 0px !important;
    }

    #divimgcount {
        width: 120px;
        margin-top: -55px !important;
    }
    /*.model_data{margin-top:367px}*/
</style>
<script>
    $(document).ready(function () {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/assets/js/jquery.dataTables.min.js";
        document.getElementsByTagName("body")[0].appendChild(script);
        Getdata();
        $("#SlideshowImages").mouseover(function () {
            var activediv = $('.item').filter('.active');
            currentIndex = activediv.index(); //$('div.active').index();
          // alert(currentIndex);
           //("#myresult" + currentIndex).show();
            imageZoom("myimage" + currentIndex, "myresult" + currentIndex);
        });
        $("#SlideshowImages").mouseout(function () {
            result = document.getElementById("myresult" + currentIndex);
         
            result.style.backgroundImage = null;
            result.style.backgroundSize = (img.width * 1 / 2) + "px " + (img.height * 1 / 2) + "px";
            var elements = document.getElementsByClassName("img-zoom-container").remove();
            // $(".img-zoom - container").removeClass();
        });
    });
</script>
@*<script>
        $(document).ready(function () {
            $('#btnshow').click(function () {
                var objItem = {};

                objItem.Bar_Code_No = "7512977956";
                var scrapinput = "select";
                $.ajax({
                    type: "POST",
                    url: "/Master/ReadQRCode",
                    data: '{objItem: ' + JSON.stringify(objItem) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.left > 0) {
                            $("#lblqritemcode").text(response.Internal_Item_Code);
                            $("#lblqrrack").text(response.Rack_Name);
                            $("#lblqrrackno").text(response.Rack_Number_Name);
                            $("#lblqrlocation").text(response.Store_Location_Name);
                            $("#lblqrlocationcode").text(response.Store_Location_Code);
                            $("#dialogQR").modal('show');
                        }
                        else
                        { swal("No data avalable for this QRCode") }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>*@
<script>
    function Getdata() {
        $("#EmpInfo > tbody").html("");
        //Call EmpDetails jsonResult Method
        // alert();
        $.getJSON("/Master/ItemDetailsForListing",
            function (json) {
                var tr;

                //Append each row to html table
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td class=left_c w61_i>" + (i + 1) + "</td>");
                    tr.append("<td class='left_c'>" + json[i].Internal_Item_Code + "</td>");
                    tr.append("<td class='left_c'>" + json[i].Item_Manufacturing_Part_Number + "</td>");
                    if (json[i].Item_Description.length > 45) {
                        tr.append("<td class='left_c des_cl'>" + json[i].Sort_Item_Desctiption + "<a  href='javascript:void(0);' class='more tooltip-error comn_inline more_dis' data-rel='tooltip'>more</a></td>");
                    }
                    else {
                        tr.append("<td class='left_c des_cl'>" + json[i].Sort_Item_Desctiption + "</td>");
                    }
                    tr.append("<td class='left_c'>" + json[i].Item_Type_Name + "</td>");

                    tr.append("<td style='display:none'>" + json[i].Item_Id + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Item_Description + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Item_Type_Id + "</td>");
                    tr.append("<td style='display:none'>" + json[i].Item_Sub_Type_Id + "</td>");
                    //tr.append("<td class='lst_td'><ul class='list_main'><li><a  href='javascript:void(0);' class='view tooltip-error comn_inline red' data-rel='tooltip' title=''><i class='menu-icon fa fa-eye red'></i>View</a></li></ul></td>");
                    tr.append("<td class='lst_td w155_i'><ul class='list_main'><li><a href='javascript:void(0);' class='duplicate tooltip-error comn_inline red' data-rel='tooltip' title='Create item code from reference'> <img class='img_duplicate' src='/Images/Duplicate.svg' /></a></li><li><a href='javascript:void(0);' class='view tooltip-error comn_inline red' data-rel='tooltip' title='View'><i class='menu-icon fa fa-eye red'></i></a></li><li><a href='javascript:void(0);' class='export tooltip-error comn_inline red' data-rel='tooltip' title=''><i class='fa fa-file-excel-o' aria - hidden='true'></i></a></li></ul></td>");
                    //tr.append("<td class='lst_td'><ul class='list_main'><li><a href='javascript:void(0);' class='view tooltip-error comn_inline red' data-rel='tooltip' title=''><i class='menu-icon fa fa-eye red'></i>View</a></li></ul></td>");

                    $('table').append(tr);

                }
                $('#EmpInfo').DataTable();
            });
    }
</script>
<script>
    $(document).on("click", "a.more", function (e) {
        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row
        var $value = $row.find('td:eq(6)').text();
        $("#lblmore").text($value);
        $('#dialogdiv1').modal('show');
    });
</script>
<script>
    $(document).on("click", "a.duplicate", function (e) {
        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row
        var $value = $row.find('td:eq(5)').text();
        var $itemtype = $row.find('td:eq(7)').text();
        var $itemsubtype = $row.find('td:eq(8)').text();
        sessionStorage.setItem("dupl-item-type", $itemtype);
        sessionStorage.setItem("dupl-item-sub-type", $itemsubtype);
        window.location.replace("/Master/ItemMaster/" + $value);
    });
</script>
<script>
    $(document).on("click", "a.more", function (e) {
        e.preventDefault();
        var $row = $(this).closest("tr");    // Find the row
        var $value = $row.find('td:eq(6)').text();
        $("#lblmore").text($value);
        $('#dialogdiv1').dialog('open');
    });
</script>
<script>
    $(document).on("click", "a.export", function () {
        var $row = $(this).closest("tr");    // Find the row
        var $id = $row.find('td:eq(5)').text();
        var objitemlistview = {};
        objitemlistview.Item_Id = $id;
        $.ajax({
            type: "POST",
            url: "/Master/ListingItemDetailsExport",
            data: '{objitemlistview: ' + JSON.stringify(objitemlistview) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var f = response.split('+');
                $("#hdexportlink").val(f[1]);
                var sp = f[1].split('/');
                //alert(sp[sp.length-1])

                var link = document.createElement('a');
                link.target = '_blank';
                link.href = f[1];
                document.body.appendChild(link);
                // link.attr("href", f[1]);
                link.href = f[1];
                link.download = sp[sp.length - 1];
                link.click();

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
<script>
    $(document).on("click", "a.view", function () {
        var $row = $(this).closest("tr");    // Find the row
        var $id = $row.find('td:eq(5)').text();
        var objitemlistview = {};
        objitemlistview.Item_Id = $id;
        $.ajax({
            type: "POST",
            url: "/Master/ListingItemDetails",
            data: '{objitemlistview: ' + JSON.stringify(objitemlistview) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#divitemcode").text(response.Internal_Item_Code);
                if (response.UOM_Name == "" || response.UOM_Name == null) {
                    $("#lbluomname").text("NA");
                }
                else {
                    $("#lbluomname").text(response.UOM_Name);
                }


                if (response.UOM_Group_Name == "" || response.UOM_Group_Name == null) {
                    $("#lbluomgroup").text("NA");
                }
                else {
                    $("#lbluomgroup").text(response.UOM_Group_Name);
                }


                if (response.Alt_UOM_Name == "" ||response.Alt_UOM_Name ==null) {
                    $("#lblaltuomname").text("NA");
                }
                else {
                    $("#lblaltuomname").text(response.Alt_UOM_Name);
                }


                if (response.Alt_UOM_Group_Name == "" || response.Alt_UOM_Group_Name == null) {
                    $("#lblaltuomgroup").text("NA");
                }
                else {
                    $("#lblaltuomgroup").text(response.Alt_UOM_Group_Name);
                }


                if (response.Valuation_Name == "" || response.Valuation_Name ==null) {
                    $("#lblvaluationName").text("NA");
                }
                else {
                    $("#lblvaluationName").text(response.Valuation_Name);
                }


                if (response.Item_Type_Name == "" || response.Item_Type_Name == null) {
                    $("#lblitemtype").text("NA");
                }
                else {
                    $("#lblitemtype").text(response.Item_Type_Name);
                }


                if (response.Item_Sub_Type_Name == "" || response.Item_Sub_Type_Name ==null) {
                    $("#lblitemsubtype").text("NA");
                }
                else {
                    $("#lblitemsubtype").text(response.Item_Sub_Type_Name);
                }


                if (response.Manage_Item_Name == "" || response.Manage_Item_Name ==null) {
                    $("#lblmanageitem").text("NA");
                }
                else {
                    $("#lblmanageitem").text(response.Manage_Item_Name);
                }


                if (response.Material_Category_Name == "" || response.Material_Category_Name ==null) {
                    $("#lblmaterialcategory").text("NA");
                }
                else {
                    $("#lblmaterialcategory").text(response.Material_Category_Name);
                }


                if (response.Item_Description == "" || response.Item_Description ==null) {
                    $("#lbldescription").text("NA");
                }
                else {
                    $("#lbldescription").text(response.Item_Description);
                }


                if (response.Item_Manufacture == "" || response.Item_Manufacture ==null) {
                    $("#lblmanufacture").text("NA");
                }
                else {
                    $("#lblmanufacture").text(response.Item_Manufacture);
                }


                if (response.Item_Brand == "" || response.Item_Brand ==null) {
                    $("#lblbrand").text("NA");
                }
                else {
                    $("#lblbrand").text(response.Item_Brand);
                }


                if (response.Supplier_Name == "" || response.Supplier_Name ==null) {
                    $("#lblsuppliername").text("NA");
                }
                else {
                    $("#lblsuppliername").text(response.Supplier_Name);
                }


                if (response.Item_Price == "" || response.Item_Price ==null) {
                    $("#lblprice").text("NA");
                }
                else {
                    $("#lblprice").text(parseFloat(response.Item_Price).toFixed(2));
                }


                if (response.Item_Min_Order_Qty == "" || response.Item_Min_Order_Qty ==null) {
                    $("#lblmoq").text("NA");
                }
                else {
                    $("#lblmoq").text(parseFloat(response.Item_Min_Order_Qty).toFixed(2));
                }


                if (response.Item_Threshold == "" || response.Item_Threshold ==null) {
                    $("#lblthreshold").text("NA");
                }
                else {
                    $("#lblthreshold").text(response.Item_Threshold);
                }


                if (response.Item_HS_Code == "" || response.Item_HS_Code ==null) {
                    $("#lblhscode").text("NA");
                }
                else {
                    $("#lblhscode").text(response.Item_HS_Code);
                }


                if (response.HS_Category_Name == "" || response.HS_Category_Name ==null) {
                    $("#lblhscodeName").text("NA");
                }
                else {
                    $("#lblhscodeName").text(response.HS_Category_Name);
                }


                if (response.Item_URL_Link == "" || response.Item_URL_Link ==null) {
                    $("#lblurllnk").text("NA");
                }
                else {
                    $("#lblurllnk").append('<a href=' + response.Item_URL_Link + ' target="_blank">' + response.Item_URL_Link + '</a>');
                }


                if (response.Item_Manufacturing_Part_Number == "" || response.Item_Manufacturing_Part_Number==null) {
                    $("#lblmpnum").text("NA");
                }
                else {
                    $("#lblmpnum").text(response.Item_Manufacturing_Part_Number);
                }


                if (response.Item_CoCountry_of_Origin == "" || response.Item_CoCountry_of_Origin ==null) {
                    $("#lblcco").text("NA");
                }
                else {
                    $("#lblcco").text(response.Item_CoCountry_of_Origin);
                }


                if (response.Item_Shipping_Cost == "" || response.Item_Shipping_Cost ==null) {
                    $("#lblshipingcost").text("NA");
                }
                else {
                    $("#lblshipingcost").text(parseFloat(response.Item_Shipping_Cost).toFixed(2));
                }


                if (response.Item_Contact_Details == "" || response.Item_Contact_Details ==null) {
                    $("#lblcontactdetail").text("NA");
                }
                else {
                    $("#lblcontactdetail").text(response.Item_Contact_Details);
                }


                if (response.Item_EMail == "" || response.Item_EMail ==null) {
                    $("#lblemail").text("NA");
                }
                else {
                    $("#lblemail").text(response.Item_EMail);
                }


                if (response.Item_We_Chat == "" || response.Item_We_Chat ==null) {
                    $("#lblwechat").text("NA");
                }
                else {
                    $("#lblwechat").text(response.Item_We_Chat);
                }


                if (response.Item_WhatsApp == "" || response.Item_WhatsApp ==null) {
                    $("#lblwhatsapp").text("NA");
                }
                else {
                    $("#lblwhatsapp").text(response.Item_WhatsApp);
                }


                if (response.item_Other_Contact_Type == "" || response.item_Other_Contact_Type ==null) {
                    $("#lblothercontacttype").text("NA");
                }
                else {
                    $("#lblothercontacttype").text(response.item_Other_Contact_Type);
                }


                if (response.item_Status == "" || response.item_Status ==null) {
                    $("#lblstatus").text("NA");
                }
                else {
                    $("#lblstatus").text(response.item_Status);
                }


                if (response.Item_Quantity == "" || response.Item_Quantity ==null) {
                    $("#lblqty").text("NA");
                }
                else {
                    $("#lblqty").text(response.Item_Quantity);
                }
                if (response.Cell_Number == "" || response.Cell_Number ==null) {
                    $("#lblcellno").text("NA");
                }
                else {
                    $("#lblcellno").text(response.Cell_Number);
                }

                if (response.Rack_Name == "" || response.Rack_Name == null) {
                    $("#lblrack").text("NA/" + response.Rack_Number_Name);
                }
                else
                    if (response.Rack_Number_Name == "" || response.Rack_Number_Name == null) {
                        $("#lblrack").text( response.Rack_Name +"/NA" );
                    }
                    else
                        if (response.Rack_Number_Name == "" || response.Rack_Number_Name == null || response.Rack_Name == "" || response.Rack_Name == null) {
                            $("#lblrack").text("NA");
                        }
                else {
                    $("#lblrack").text(response.Rack_Name + "/" + response.Rack_Number_Name);
                }

                //if (response.Rack_Number_Name == "" || response.Rack_Number_Name ==null) {
                //    $("#lblrackno").text("NA");
                //}
                //else {
                //    $("#lblrackno").text(response.Rack_Number_Name);
                //}

                if (response.Store_Location_Name == "" || response.Store_Location_Name ==null) {
                    $("#lblstore").text("NA");
                }
                else {
                    $("#lblstore").text(response.Store_Location_Name);
                }

                if (response.Store_Location_Code == "" || response.Store_Location_Code == null) {
                    $("#lblstorecode").text("NA");
                }
                else {
                    $("#lblstorecode").text(response.Store_Location_Code);
                }
             

               // $("#aname").text(response.Item_Name);
                $("#parameter").empty();
                if (response.Sub_Item_Type_Field_values == "" || response.Sub_Item_Type_Field_values ==null) {
                    $("#parameter").text("NA")
                }
                else {
                    var UOM = response.Sub_Item_Type_Field_UOM.split(',');
                    var l = UOM.length;
                    var name = response.Sub_Item_Type_Field_values.split(',');
                    var value = "";
                    for (var i = 0; i < name.length; i = i + 2) {

                        if (i == 0) {


                            if (name[i] == "Length") {
                                if (l > 1) {
                                    value = "<span style='padding-left:2px;font-weight:800' text=" + name[i] + '</span> = ' + name[i + 1] + " " + UOM[1];
                                }
                                else {

                                    value = "<span style='padding-left:2px;font-weight:800'>" + name[i] + '</span> = ' + name[i + 1];

                                }
                            }
                            else {
                                value = "<span style='padding-left:2px;font-weight:800'>" + name[i] + '</span> = ' + name[i + 1];

                            }
                        }
                        else {
                            if (name[i] == "Length") {
                                if (l > 1) {
                                    value = value + "<span style='padding-left:7px;font-weight:800'> ," + name[i] + '</span> = ' + name[i + 1] + "  " + UOM[1];
                                }
                                else {

                                    value = value + "<span style='padding-left:7px;font-weight:800'> ," + name[i] + '</span> = ' + name[i + 1];
                                }
                            }
                            else {
                                value = value + "<span style='padding-left:7px;font-weight:800'> ," + name[i] + '</span> = ' + name[i + 1];

                            }


                        }
                    }
                    $("#parameter").append(value);
                }
               
                $("#hdqrcode").val(response.Item_QRCode_path);
               
                document.getElementById('imgqrcode').src = response.Item_QRCode_path;
                //alert(response.Item_Name);
                // GetBarcode(response.Bar_Code_No);
              
                $("#lbldesignerurl").empty();
                if (response.Designer_URL == "" || response.Designer_URL ==null) {
                    $("#lbldesignerurl").text("NA");
                }
                else {
                    //$("#lbldesignerurl").text(response.Designer_URL);

                    $("#lbldesignerurl").append('<a href=' + response.Designer_URL + ' target="_blank">' + response.Designer_URL + '</a>');

                }


                $("#adatesheet").empty();
                $("#acomplain").empty();
                $("#acad").empty();
                $("#aCertification").empty();
                $("#aScrapping").empty();
                if (response.Item_Data_Sheet_Url != "" || response.Item_Data_Sheet_Url !=null) {

                    var link = $("<a>");
                    link.attr("href", response.Item_Data_Sheet_Url);
                    link.attr("title", "Datesheet");
                    link.text("Download datesheet file");
                    $("#adatesheet").append(link);
                }
                else {
                    $("#adatesheet").text("No file");
                }
             
                if (response.Item_Compliance_Url != "" || response.Item_Compliance_Url != null) {
                    var link = $("<a>");
                    link.attr("href", response.Item_Compliance_Url);
                    link.attr("title", "Compliance");
                    link.text("Download Compliance file");
                    $("#acomplain").append(link);
                }
                else {
                    $("#acomplain").text("No file");
                }
                if (response.item_CAD_File_Url != "" || response.item_CAD_File_Url !=null) {
                    var link = $("<a>");
                    link.attr("href", response.item_CAD_File_Url);
                    link.attr("download", response.item_CAD_File_Url);
                    link.attr("title", "CAD");
                    link.text("Download CAD file");
                    $("#acad").append(link);
                }
                else {
                    $("#acad").text("No file");
                }
                if (response.Item_Certification_Url != "" || response.Item_Certification_Url !=null) {
                    var link = $("<a>");
                    link.attr("href", response.Item_Certification_Url);
                    link.attr("title", "Certification");
                    link.text("Download Certificate file");
                    $("#aCertification").append(link);
                }
                else {
                    $("#aCertification").text("No file");
                }
                if (response.Item_Scrapping_from_WebUrl != "" || response.Item_Scrapping_from_WebUrl !=null) {
                    var link = $("<a>");
                    link.attr("href", response.Item_Scrapping_from_WebUrl);
                    link.attr("title", "Scrapping");
                    link.text("Download Scrapping file");
                    $("#aScrapping").append(link);
                }
                else {
                    $("#aScrapping").text("No file");
                }
                $("#olimg").empty();
                $("#SlideshowImages").empty();
                $("#baguetteBox-slider").empty();
                var imagepathstr = response.Item_Images_Url;
                if (imagepathstr == "" || imagepathstr == null) {
                    var img = ("<div class='item active' id='divimgi'><a class='lightbox' href='javascript:void(0);'><div class='img-zoom - container'><img id='myimage" + k + "' src='/Images/no-image-icon-6.png' class='sname' width='300' height='240'></a></div>");
                    $("#SlideshowImages").append(img);
                    $("#divimgcount").hide();
                    $("#an").hide();
                    $("#ap").hide();

                }
                else {
                    $("#hdzoom").val(response.Item_Images_Url);
                    var path = imagepathstr.split(',');
                    
                    if (path != "" || path != null) {
                        $("#hdt").val(1);
                        for (var j = 0; j < path.length; j++) {
                            $("#divimgcount").text("1 of " + path.length);
                            if (j == 0) {
                                $("#olimg").append("<li data-target='#carousel-default' data-slide-to=" + j + " class='active'><span>" + j + " </span></li>");
                            }
                            else {
                                $("#olimg").append("<li data-target='#carousel-default' data-slide-to=" + j + " class=''><a><span>" + j + " </span></a></li>");
                            }
                        }
                        for (var k = 0; k < path.length; k++) {
                            if (k == 0) {
                                // var img=  "<div class='item active'><a class='lightbox' href='javascript:void(0);'><img id='imgs" + k + "' width='150' height='180' src=" + path[k] + "  alt='Bridge'></a></div>";
                                var img = ("<div class='item active' id='divimg" + i + "'><a class='lightbox' href='javascript:void(0);'><div class='img-zoom - container'><img id='myimage" + k + "' src=" + path[k] + " class='sname' width='300' height='240'><div id='myresult" + k + "' class='img-zoom-result'></div></div></a></div>");
                            }
                            else {
                                var img = ("<div class='item' id='divimg" + i + "'><a class='lightbox' href='#'><div class='img-zoom-container'><img id='myimage" + k + "' src=" + path[k] + "  width='300' height='240'><div id='myresult" + k + "' class='img-zoom-result'></div></div></a></div>");
                                //var img = "<div class='item'><a class='lightbox' href='#'><img id='imgs" + k + "' width='150' height='180' src=" + path[k] + "  alt='Bridge'></a></div>";
                            }
                            $("#SlideshowImages").append(img);
                            $("#divimgcount").show();
                            $("#an").show();
                            $("#ap").show();
                        }
                    }

                    else {
                        var img = ("<div class='item active' id='divimgi'><a class='lightbox' href='javascript:void(0);'><div class='img-zoom - container'><img id='myimage" + k + "' src='/Images/no-image-icon-6.png' class='sname' width='300' height='240'></a></div>");
                        $("#SlideshowImages").append(img);
                        $("#divimgcount").hide();
                        $("#an").hide();
                        $("#ap").hide();
                    }
                }
               // alert();
                $('#dialogdiv').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        var objItem = {};
        objItem.Item_Id = $id;
        $.ajax({
            type: "POST",
            url: "/Master/ItemAltDetailsForUpdate",
            data: '{objItem: ' + JSON.stringify(objItem) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (json) {
                //alert(json.length);
                if (json.length > 0) {
                    $("#divtbl").show();
                    $("#txtNoOfRows").val(json.length);
                    $("#divrow").show();
                    $('input:radio[name="permision"][value="Yes"]').prop('checked', true);
                    $("#EmpInfoalt > tbody").html("");
                    var row = $("#txtNoOfRows").val();
                    $("#altrow").show();
                    var tr;
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + (i + 1) + "</td>");

                        tr.append("<td>" + json[i].Alt_Manufacturing_Part_Number + "</td>");
                        tr.append("<td>" + json[i].Alt_Item_Brand + "</td>");
                        tr.append("<td><a href=http://www." + json[i].Alt_Item_Url + " target='_blank'>" + json[i].Alt_Item_Url + "</a></td>");
                        // tr.append("<td><a  href='javascript:void(0);' class='delete tooltip-error comn_inline red' data-rel='tooltip'><i class='menu-icon fa fa-trash bigger-120 red'></i></a></td>");
                        $('#EmpInfoalt').append(tr);
                    }
                    $('#EmpInfoalt').DataTable();

                }
                else {
                    $("#divtbl").hide();
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>



<script>
    function imageZoom(imgID, resultID) {
     // alert(imgID);
        var img, lens, result, cx, cy;
        img = document.getElementById(imgID);
        result = document.getElementById(resultID);
        /*create lens:*/
        lens = document.createElement("DIV");

        lens.setAttribute("class", "img-zoom-lens");
        /*insert lens:*/
        img.parentElement.insertBefore(lens, img);
        // alert(imgID);
        /*calculate the ratio between result DIV and lens:*/
        cx = result.offsetWidth / lens.offsetWidth;
        cy = result.offsetHeight / lens.offsetHeight;
        /*set background properties for the result DIV:*/


        result.style.backgroundImage = "url('" + img.src + "')";
        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";


        /*execute a function when someone moves the cursor over the image, or the lens:*/
        lens.addEventListener("mousemove", moveLens);
        img.addEventListener("mousemove", moveLens);
        /*and also for touch screens:*/
        lens.addEventListener("touchmove", moveLens);
        img.addEventListener("touchmove", moveLens);

        function moveLens(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image:*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            /*calculate the position of the lens:*/
            x = pos.x - (lens.offsetWidth / 2);
            y = pos.y - (lens.offsetHeight / 2);

            if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
            if (x < 0) { x = 0; }
            if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
            if (y < 0) { y = 0; }

            lens.style.left = x + "px";
            lens.style.top = y + "px";

            result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
        }

        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }

    }
</script>
<script type="text/javascript">
    $(function () {
        $("#next-button").click(function (e) {
            //alert();
            var z = parseInt($("#hdt").val());
            var val1 = (z - 100);
            var z = $("#hdzoom").val().split(',');
            var c = (-100) * z.length;
            //alert(c);

            if (c < val1) {
                $("#hdt").val(val1);
                $("#baguetteBox-slider").attr("style", "transform: translate3d(" + val1 + "%, 0px, 0px);");
                $("#baguetteBox-slider").attr("class", "");
            }
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#previous-button").click(function (e) {
            var z = parseInt($("#hdt").val());
            var val1 = (z + 100);
            // alert(val1);

            if (val1 <= 0) {
                $("#hdt").val(val1);
                $("#baguetteBox-slider").attr("style", "transform: translate3d(" + val1 + "%, 0px, 0px);");
                $("#baguetteBox-slider").attr("class", "");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $('.carousel').carousel({
            interval: false,
        });
    });
</script>
<style>
    .table-header1 {
        background-color: #307ECC;
        color: #FFF;
        font-size: 13px;
        line-height: 26px;
        padding-left: 12px;
        margin-bottom: 1px;
        display: inline-block;
        padding: 0px 13px;
        margin-bottom: 9px;
        display: block;
    }

    .margin_tp {
        margin-top: -54px;
        position: absolute;
    }

    #EmpInfoalt tr td:last-child {
        color: #0893e2;
        text-decoration: underline;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
    }
</style>
<script type="text/javascript">
    try { ace.settings.loadState('main-container') } catch (e) { }
</script>
<div id="sidebar" class="sidebar responsive ace-save-state top-padding">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->
    @{ Html.RenderAction("SideMenu", "Master");}

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
<div class="main-content">
    <div class="main-content-inner top-padding">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <input type="hidden" id="hdzoom" />
            <input type="hidden" id="hdt" />
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">PMS Setting</a>
                </li>

                <li>
                    <a href="/Master/ItemMaster">Item Master</a>
                </li>
                <li class="active">Listing Item</li>
            </ul><!-- /.breadcrumb -->


        </div>

        <div class="page-content1">


            <div class="page-header">
                <h3 class="item_hedin">
                    Item List
                </h3>
            </div><!-- /.page-header -->
            @*-------------------------popup start---------------------------------------------------------------------*@

            <div id="dialogdiv" class="modal fade" style="margin-top:0px!important;overflow:auto!important">
                <div class="modal-dialog modal-lg modal-dialog-centered " style=" display: flex !important; width: 1007px !important;margin-top:0px!important;}">
                    <div class="modal-content" style="width:100% !important;padding-bottom:22px">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">×</a>
                            <h3 class="item_hedin m_00">Item Detail (<span id="divitemcode" class="code_cl"></span>) </h3>
                        </div>
                        <div class="modal-body">
                            <div class="model_data row">
                                <div class="d_blk cc_cursor">

                                    <div class="table-header1 cc_cursor">
                                        Design

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>  Status     </label><span>:</span>
                                    <p id="lblstatus" style="font-weight:800 !important;"></p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Item Type </label><span>:</span>
                                    <p id="lblitemtype"> </p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Item Sub Type </label><span>:</span>
                                    <p id="lblitemsubtype">  </p>
                                </div>
                                <div class="col-md-12">
                                    <label>  Description </label><span>:</span>
                                    <p class="url_tx1 model_l_p" id="lbldescription"> </p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Part Number  </label><span>:</span>
                                    <p id="lblmpnum">  </p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Manufacture </label><span>:</span>
                                    <p id="lblmanufacture"></p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Brand </label><span>:</span>
                                    <p id="lblbrand"> </p>
                                </div>
                                <div class="col-xs-12 tbl_sort" id="divtbl">
                                    <label>  Alternate values </label><span>:</span>
                                    <div class="form-group">
                                        <table id="EmpInfoalt" class="table table-bordered  table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="center">S. No</th>
                                                    <th>Part No</th>
                                                    <th>Brand</th>
                                                    <th>URL</th>
                                                    <th style="display:none"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>  Data Sheet     </label><span>:</span>
                                    <p id="adatesheet"> </p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Compliance    </label><span>:</span>
                                    <p id="acomplain"></p>
                                </div>
                                <div class="col-md-4">
                                    <label>  Certification     </label><span>:</span>
                                    <p id="aCertification">  </p>
                                </div>
                                <div class="col-md-4">
                                    <label>  CAD File    </label><span>:</span>
                                    <p id="acad"></p>
                                </div>

                                <div class="col-md-4">
                                    <label>  Scrapping  </label><span>:</span>
                                    <p id="aScrapping">  </p>
                                </div>
                                <div class="col-md-12">
                                    <label>   Parameters  </label><span>:</span>
                                    <p id="parameter" class="model_l_p">  </p>
                                </div>
                                <div class="col-md-12">
                                    <label>  URL </label><span>:</span>
                                    <p class="url_tx1 model_l_p" id="lbldesignerurl"> </p>
                                </div>

                                <div class="col-md-12">
                                    <label>   QRCode </label><span>:</span>
                                    <input type="hidden" id="hdqrcode" />
                                    <span class="qr_img" style="margin-left:8px">
                                        <img id="imgqrcode" />
                                    </span> @*<input type="button" id="btnshow" value="Scan QR Code"  class="btn btn-default"/>*@
                                </div>
                                <div class="row">

                                    <div class="col-md-4">



                                        <section class="carousel-default">
                                            <div id="carousel-default" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <ol id="olimg" class="carousel-indicators"></ol>
                                                <div id="SlideshowImages" class=" tz-gallery" role="listbox">

                                                </div>
                                                <a class="left carousel-control" href="#carousel-default" role="button" id="ap" data-slide="prev" onclick="prev();">
                                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-default" role="button" id="an" data-slide="next" onclick="next();">
                                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    <span id="spnnext" class="sr-only">Next</span>
                                                </a> <div id="divimgcount"></div>
                                            </div>
                                        </section>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                                        <script>
                                                    function next() {
                                                        var i = parseInt($("#hdt").val());
                                                        var z = $("#hdzoom").val().split(',');
                                                        // alert(z.length);
                                                        if (i < z.length) {
                                                            i = (i + 1);
                                                            // alert(i);
                                                        }
                                                        else {
                                                            i = 1;
                                                        }
                                                        $("#divimg" + (i - 1)).addClass("active");
                                                        $("#divimg" + (i - 2)).removeClass("active");
                                                        $("#divimgcount").text(i + " of " + z.length);
                                                        $("#hdt").val(i);
                                                        //alert(i);
                                                    }
                                        </script>
                                        <script>
                                                    function prev() {
                                                        var i = parseInt($("#hdt").val())
                                                        var z = $("#hdzoom").val().split(',');
                                                        if (i > 1) {
                                                            i = (i - 1);
                                                        }
                                                        else {
                                                            i = z.length;
                                                        }
                                                        //$("#divimg" + (i - 2)).addClass("active");
                                                        //$("#divimg" + (i - 3)).removeClass("active");
                                                        $("#divimgcount").text(i + " of " + z.length);
                                                        $("#hdt").val(i);
                                                        // alert(i);
                                                    }
                                        </script>
                                        <script>
                                                    baguetteBox.run('.tz-gallery');
                                        </script>

                                        <style>
                                            .tz-gallery img {
                                                width: 100%;
                                                border-radius: 0px;
                                            }

                                            .carousel-default a {
                                                color: #f5f5f5 !important;
                                                text-decoration: underline;
                                            }

                                            button {
                                                background-color: #0000 !important;
                                                color: #ffffff !important;
                                            }

                                            .full-image {
                                                padding: 50px;
                                            }

                                            #dialogdivView {
                                                overflow: hidden;
                                            }

                                            #divimgcount {
                                                width: 120px;
                                                margin-top: -218px;
                                                position: absolute;
                                                left: 72px;
                                                color: #fff;
                                                font-size: 15px;
                                            }
                                        </style>
                                        @*<input type="button" id="btnzoom" value="Zoom" />*@
                                    </div>
                                </div>


                                <div class="d_blk cc_cursor">

                                    <div class="table-header1 cc_cursor">
                                        Buyer
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>  Unit Group </label><span>:</span>
                                        <p id="lbluomgroup">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Measurement unit </label><span>:</span>
                                        <p id="lbluomname"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Alternate  Measurement unit </label><span>:</span>
                                        <p id="lblaltuomname"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Alternate  Unit Group </label><span>:</span>
                                        <p id="lblaltuomgroup">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Supplier Name </label><span>:</span>
                                        <p id="lblsuppliername">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Item Price  </label><span>:</span>
                                        <p id="lblprice"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Min. Order Qty </label><span>:</span>
                                        <p id="lblmoq"> </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Threshold  </label><span>:</span>
                                        <p id="lblthreshold"> </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  HS category  </label><span>:</span>
                                        <p id="lblhscodeName">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  HS Code  </label><span>:</span>
                                        <p id="lblhscode">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Co-Country Origin  </label><span>:</span>
                                        <p id="lblcco">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Shipping Cost  </label><span>:</span>
                                        <p id="lblshipingcost"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Contact Details  </label><span>:</span>
                                        <p id="lblcontactdetail"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  E-Mail  </label><span>:</span>
                                        <p id="lblemail">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  We Chat  </label><span>:</span>
                                        <p id="lblwechat">   </p>
                                    </div>

                                    <div class="col-md-4">
                                        <label>  WhatsApp No.    </label><span>:</span>
                                        <p id="lblwhatsapp"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Other Contact     </label><span>:</span>
                                        <p id="lblothercontacttype"> </p>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>  URL Link  </label><span>:</span>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="url_tx url_tx2" id="lblurllnk">
                                                    @*<a href="#"> </a>*@
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="d_blk cc_cursor">

                                            <div class="table-header1 cc_cursor">
                                                Store
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <label>  Valuation Type </label><span>:</span>
                                        <p id="lblvaluationName"></p>
                                    </div>

                                    <div class="col-md-4">
                                        <label>  Manage Item </label><span>:</span>
                                        <p id="lblmanageitem">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Quantity  </label><span>:</span>
                                        <p id="lblqty">  </p>
                                    </div>

                                    <div class="col-md-4">
                                        <label>  Store Location </label><span>:</span>
                                        <p id="lblstore">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Store Code </label><span>:</span>
                                        <p id="lblstorecode">  </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Rack/Bin </label><span>:</span>
                                        <p id="lblrack">  </p>
                                        @*<label>  Bin Number </label><span>:</span>*@
                                        @*<p id="lblrackno">  </p>*@
                                    </div>
                                    <div class="col-md-4">
                                        <label>  Cell Number </label><span>:</span>
                                        <p id="lblcellno">  </p>
                                    </div>
                                    @*<div class="col-md-4">
                                        <label>  Bin Number </label><span>:</span>
                                        <p id="lblrackno">  </p>
                                    </div>*@

                                    <style>
                                        .model_l_p {width: 85%!important;}
                                    </style>


                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>


            <div id="dialogdiv1" class="modal fade">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">×</a>
                            <h3 class="item_hedin">Item Description Detail </h3>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <label id="lblmore" class="col-sm-12 control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*-------------------------popup end---------------------------------------------------------------------*@

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="table-header">
                            Current Record
                        </div>
                        <table id="EmpInfo" class="table table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th class="left_c w61_i">S. No</th>

                                    <th class='left_c'>Item Code</th>
                                    <th class='left_c'>Manufacturing Part Number</th>
                                    <th class='left_c'>Description</th>
                                    <th class='left_c'>Item Type Name</th>

                                    <th style="display:none;"></th>
                                    <th style="display:none;"></th>
                                    <th style="display:none;"></th>
                                    <th style="display:none;"></th>
                                    <th class="w155_i">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>

                </div><!-- /.span -->
            </div><!-- /.row -->


            <a href="/Master/ItemMaster" style="font-size:20px;margin-left:20px" class="back_home"> Back to home </a>


        </div>
    </div>
</div>
<style>
    .img-zoom-result {
        width: 590px;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px !important;
        left: -238px !important;
    }
</style>