
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
    <link rel="shortcut icon" href="Images/LDR_Ico.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/AceAdmin/css/ace-fonts.min.css" rel="stylesheet" />
    <link href="~/Template/AceAdmin/css/ace.min.css" rel="stylesheet" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <script src="~/assets/js/jquerysession.js"></script>
    <script>
        $(document).ready(function () {
            $("#txtemailID").focus();
        })
    </script>


    <script type="text/javascript">
        $(function () {
            $('#btnforget').click(function () {
                var objforgetpassword = {};
                objforgetpassword.Email_ID = $("#txtemailID").val();

                if (objforgetpassword.Email_ID == "" || objforgetpassword.Email_ID == null) {
                    swal("please enter Email ID.");
                    $("#txtemailID").focus();
                    return;
                }
                //alert(objforgetpassword.Email_ID);
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                var emailaddressVal = objforgetpassword.Email_ID;
                if (!emailReg.test(emailaddressVal)) {
                    $("#txtemailID").after(swal("Please enter valid email address."));
                    return;
                }
                //alert();
                $.ajax({
                    type: "POST",
                    url: "/User/SendPasswordInMail",
                    data: '{objforgetpassword: ' + JSON.stringify(objforgetpassword) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        swal(response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            })

        });
    </script>
    <style>
        .login_form .form-control {
            width: 100% !important;
        }

        input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
            border-radius: 0 !important;
            color: #858585;
            width: 100%;
            background-color: #FFF;
            border: 1px solid #D5D5D5;
            padding: 5px 4px 6px;
            font-size: 14px;
            font-family: inherit;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition-duration: .1s;
            transition-duration: .1s;
        }

        .key_custom {
            position: absolute;
            margin-left: 21px;
            float: right;
        }

        .fa-key:before {
            content: "\f084";
            position: absolute;
            z-index: 9999;
            margin-top: 11px;
            margin-left: -5px;
            color: #fff;
        }

        .btn-primary, .btn-primary.focus, .btn-primary:focus {
            background-color: #428BCA !important;
            border-color: #428BCA;
            width: 109px;
            border-radius: 3px;
            float: right !important;
            /* left: 0px; */
            /* position: absolute; */
            margin-left: 55px;
            margin-top: -1px;
        }

        .forgot_btn {
            background: #5090C1;
            width: 100%;
            padding: 12px 0px;
            color: #FE9;
            display: block;
            padding-left: 13px;
            font-size: 17px;
            display: block;
        }

            .forgot_btn:hover {
                text-decoration: none;
                color: #fff;
                cursor: pointer;
                background: #69AA46;
            }
            input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
    border-radius: 0 !important;
    color: #858585;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}


.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.login-layout .login-box .widget-main {
    padding-bottom: 16px;
}
.login-layout .widget-box .widget-main {
    padding: 16px 36px 36px;
    background: #F7F7F7;
}
.header.blue {
    border-bottom-color: #d5e3ef;
}


.login-layout label, .ui-jqdialog-content .searchFilter .queryresult {
    margin-bottom: 11px;
}
#btnlogin {
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 15px !important;
    padding-top: 8px !important;
    font-weight: 500 !important;
    padding-bottom: 7px;
}
.navbar .navbar-brand {
    margin-left: -77px !IMPORTANT;
}
    </style>

</head>
<body class="login-layout light-login">
    <div class="navbar navbar-default" id="navbar">
        <div class="navbar-container container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <input type="image" src="~/Images/ldr_logo_24.png" />

                        Leader Range Technology
                    </small>
                </a>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-laptop green"></i>
                                <span class="red">Workcell Forget Password</span>
                                <span class="white"></span>
                            </h1>
                        </div>
                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border forget-div">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Please Enter Your Information
                                        </h4>

                                        <div class="space-6"></div>

                                        <fieldset class="login_form">
                                            <label class="block clearfix ">
                                                <span class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="ace-icon fa fa-envelope-o fa-fw"></i>
                                                    </span>
                                                    <input type="text" id="txtemailID" placeholder="Email Id" class="col-xs-10 col-sm-5" data-toggle="tooltip" title="Email ID" />
                                                </span>
                                            </label>
                                            <div class="space"></div>
                                            <div class="clearfix">
                                                @*<button class="btn btn-info" id="btnforget" type="button" data-toggle="tooltip" title="Button for save data">
                                                        <i class="ace-icon fa fa-floppy-o"></i>
                                                        Submit
                                                    </button>*@
                                                @*<i class='ace-icon fa key_custom fa-key'>*@
                                                <input type="button" id="btnforget" class="width-160 pull-right btn btn-sm btn-primary" data-toggle="tooltip" title="Button for Forget in" value="Submit"> @*</i>*@

                                            </div>
                                            <div class="space"></div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </div>
                                </div>
                                <a href="/User/LogIn" class="forgot_btn"> <i class="ace-icon fa fa-arrow-left"></i> Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
