
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/_Layout.cshtml";
}

<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        $("#txtcurrentpassword").focus();
       // $("#btnsave").text("");
      //  $("#btnsave").append(" <i class='ace-icon fa fa-floppy-o'></i>Submit");
       // $("#hdresetpassword").val("");

    })
</script>
<script>
    function ResetData() {
        $("#txtcurrentpassword").val("");
        $("#txtnewpassword").val("");
        $("#txtconfirmnewpassword").val("");
        $("#hdresetpassword").val("");
    }
</script>
<script>
    $(document).ready(function () {
        //  alert();
        $("#btnsave").click(function () {
            var objUserRegistration = {};
            objUserRegistration.Current_Password = $("#txtcurrentpassword").val();
            objUserRegistration.New_Password = $("#txtnewpassword").val();
            objUserRegistration.Confirm_New_Password = $("#txtconfirmnewpassword").val();
            objUserRegistration.New_User_Id = $("#hdresetpassword").val();

            if (objUserRegistration.Current_Password == "" || objUserRegistration.Current_Password == null) {
                swal("please enter current password.");
                $("#txtcurrentpassword").focus();
                return;
            }
            if (objUserRegistration.New_Password == "" || objUserRegistration.New_Password == null) {
                swal("please enter new password.");
                $("#txtnewpassword").focus();
                return;
            }
            if (checkPassword(objUserRegistration.New_Password) == false) {
                swal("Password Should be Contain at least 8 characters, at least 1 number, at least 1 lowercase character (a-z), at least 1 uppercase character (A-Z), only 0-9a-zA-Z.");
                $('#txtnewpassword').focus();
                return;
            }
            //function used to validate password
            function checkPassword(password) {
                //regular expression for password
                var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
                if (pattern.test(password)) {
                    return true;
                } else {
                    return false;
                }
            }
            if (objUserRegistration.Confirm_New_Password == "" || objUserRegistration.Confirm_New_Password == null) {
                swal("please enter confirm new password.");
                $("#txtconfirmnewpassword").focus();
                return;
            }
            if (objUserRegistration.Confirm_New_Password != objUserRegistration.New_Password) {
                alert(objresetpassword.Confirm_New_Password + "" + objresetpassword.New_Password);
                swal("Confirm Password Is Not Matched With New Password.");
                $("#txtconfirmnewpassword").focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/User/AddPassword",
                data: '{objUserRegistration: ' + JSON.stringify(objUserRegistration) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    swal(response);
                    ResetData();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        })
    });
</script>
<script>
    $(function () {

        $('#eyen').click(function () {
            //alert();
            if ($(this).hasClass('fa-eye-slash')) {

                $(this).removeClass('fa-eye-slash');

                $(this).addClass('fa-eye');

                $('#txtnewpassword').attr('type', 'text');

            } else {

                $(this).removeClass('fa-eye');

                $(this).addClass('fa-eye-slash');

                $('#txtnewpassword').attr('type', 'password');
            }
        });
    });
    $(function () {

        $('#eye').click(function () {
            //alert();
            if ($(this).hasClass('fa-eye-slash')) {

                $(this).removeClass('fa-eye-slash');

                $(this).addClass('fa-eye');

                $('#txtcurrentpassword').attr('type', 'text');

            } else {

                $(this).removeClass('fa-eye');

                $(this).addClass('fa-eye-slash');

                $('#txtcurrentpassword').attr('type', 'password');
            }
        });
    });
    $(function () {

        $('#eyern').click(function () {
            //alert();
            if ($(this).hasClass('fa-eye-slash')) {

                $(this).removeClass('fa-eye-slash');

                $(this).addClass('fa-eye');

                $('#txtconfirmnewpassword').attr('type', 'text');

            } else {

                $(this).removeClass('fa-eye');

                $(this).addClass('fa-eye-slash');

                $('#txtconfirmnewpassword').attr('type', 'password');
            }
        });
    });
</script>

<div style="width:100%" class="m_27">
    <div style="width:18% ; float:left" class="menu_border">
        <div class="side_bar_main">

            @{ Html.RenderAction("SideMenu", "Master");}

        </div>

    </div><div style="width:82% ; float:left">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">User</a>
                        </li>

                        <li>
                            <a href="#">Reset Password</a>
                        </li>
                        <li class="active">Reset Password</li>
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <div class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </div>
                    </div><!-- /.nav-search -->
                </div>

                <div class="page-content">


                    <div class="page-header">
                        <h1>
                            Reset Password
                        </h1>
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Current Password  </label>

                                <div class="col-sm-9">
                                    <input type="password" id="txtcurrentpassword" placeholder="Current Password" class="col-xs-10 col-sm-5" data-toggle="tooltip" title="insert current password" autocomplete="off" />

                                    <div class="input-group-text"><i class="fa fa-fw fa-eye-slash" id="eye"></i></div>@*<label data-error="wrong" data-success="right" for="input-pwd\">Password</label>
                                        <span toggle="#input-pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> New Password </label>

                                <div class="col-sm-9">
                                    <input type="password" id="txtnewpassword" placeholder="New Password" class="col-xs-10 col-sm-5" maxlength="15" data-toggle="tooltip" title="Field for New Password" autocomplete="off" />
                                    <div id="passwordcheck" style="color:red;"></div>
                                    <div class="input-group-text"><i class="fa fa-fw fa-eye-slash" id="eyen"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Confirm New Password </label>

                                <div class="col-sm-9">
                                    <input type="password" id="txtconfirmnewpassword" placeholder="Confirm New Password" maxlength="15" class="col-xs-10 col-sm-5" data-toggle="tooltip" title="Field for Confirm New Password" autocomplete="off" />
                                    <div class="input-group-text"><i class="fa fa-fw fa-eye-slash" id="eyern"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="space-4"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <input type="hidden" id="hdresetpassword" />
                            <div class="clearfix form-actions">
                                <div class=" col-md-12">
                                    <button class="btn btn-info" id="btnsave" type="button" data-toggle="tooltip" title="Button for save data">
                                        <i class="ace-icon fa fa-floppy-o"></i>
                                        Submit
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" id="btnreset" type="reset" data-toggle="tooltip" title="Button for reset data">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>

